/* Background image */

.background-image {
  background-image: url('/src/Images/StarrySky.jpg'); 
  height: 100vh;
  min-height: 2000px;
  text-decoration: solid;
  background-attachment: fixed; 
}

/* Navbar */

.nav-container{
  font-family: 'Lobster', cursive;
    padding-left: 15px; 
    font-size: 35px !important; 
    color: white; 
}

.navbar-nav{
  color: white; 
}

a:hover{
    cursor: grab; 
}

.active{
    text-decoration: solid; 
}

.datepicker{
  width: 100%; 

}

.submit{
  margin: 10px; 
}
/* Sleep-Input page */

.about-page {
  align-items: center;
  display: flex;
  flex-direction: column;
}

about-inner {
  max-width: 800px;
  background-color: rgba(255, 255, 255, 0.774);
  border-radius: 5px;
  padding: 10px;
  margin: 20px 10px;
}


.hero {
  width: 100%;
  text-align: center;
  font-size: 50px; 
  color: white; 
  line-height: 1.1;
  padding: 20px 10px;
  margin-top: 100px; 
}


  .about-form{
    color: white; 
    width: 300px !important; 
    margin: 20px; 
    font-size: 20px; 
  }

  .hours{
    width: 100px; 
  }

.submit{
align-items: center; 
}
  

  /* Login */

  .contact-container{
    padding-top: 100px; 
  }
  .enter{
    padding-top: 50px; 
    width: 75%; 
    color: white; 
  }

  .form-group{
    padding: 10px; 
  }

  /* Chart */

  .line-container{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding-top: 100px; 
  }
  .line{
    width: 400px !important; 
    height: 200px !important; 
    background-color: rgba(255,255,255) !important; 
    margin-top: 50px; 
  }


    /*Sign In*/

    .register{
      padding-top: 20px; 
      color: white; 
    }

  .main_login {
    background-color: none; 
    border-radius: 20px;
    padding: 50px 0;
    height: 300px;
    width: 100%;
    place-content: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(6, 2, 33, 0.6);
  }

  .signup{
    margin: 10px; 
  }

  .question{
    font-size: 15px; 
  }


  /* Media Queries for screens larger than mobile*/
@media screen and (min-width: 900px) { 
  .about {
    display: flex;
    justify-content: flex-end;
    max-width: 1300px;
    width: 100%;
}
.about-inner {
    background-color: transparent;
    border: none;
    max-width: 1300px;
    max-width: 650px;
    text-align: right;
    align-items: flex-end;
}

.hero-inner {
    font-size: 60px;
    text-align: left;
    margin: 130px 0 0 50px;
    width: 800px;
}

.form-row{
        width: 30%; 
    }
  
  .line{
    width: 900px !important; 
    height: 500px !important; 
    background-color: rgba(255,255,255) !important; 
  }
};